<div class="mt-4">
    <h1 class="text-center">Search Page</h1>
    <form action="/search" method="POST">
        <div class="mb-3 d-flex">
            <input placeholder="Nhập từ khóa..." name="q" type="text" class="form-control me-2" style="width: 100%;" id="exampleInputEmail1">
            <button type="submit" class="btn btn-primary" style="width: 30%;">Search</button>
        </div>
    </form>
</div>