<footer class="bg-dark text-light py-3">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">

            <div class="col-md-6 text-right d-flex align-items-center justify-content-between">
                <a href="/" class="text-white">Trang chủ</a>
                <a href="/courses" class="text-white">Khoá học</a>
                <a href="/searchPage" class="text-white">Tìm kiếm</a>
                <a href="#" class="text-white">Liên hệ</a>
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <p class="m-0  text-right w-100">&copy; 2023 Tên Công Ty. Tất cả các quyền được bảo lưu.</p>
            </div>
        </div>
    </div>
</footer>