<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="/courses">F8 EDUCATION</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mt-2 me-4 mt-lg-0 align-items-center">
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/searchPage">Search</a>
            </li> --}}
            <img src="https://files.fullstack.edu.vn/f8-prod/user_photos/236955/62fb97707836e.jpg" class="user-avatar"
                alt="">
            <li class="nav-item dropdown flex">

                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">LongNV</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/me/courses/myCourses">Khoá học của tôi</a>
                    <a class="dropdown-item" href="/courses/create">Thêm khóa học </a>
                    <a class="dropdown-item" href="/courses/create">Bài viết của tôi </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="/action2">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </div>
</nav>